{% extends 'base.html' %}

{% block title %}タイトルページ{% endblock %}

{% block content %}
<h2>タイトルページ</h2>

<h3>打率上位選手</h3>
<table>
    <thead>
        <tr>
            <th>選手名</th>
            <th>打率</th>
        </tr>
    </thead>
    <tbody>
        {% for leader in hitter_avg %}
        <tr>
            <td>{{ leader.player__username }}</td>
            <td>{{ leader.avg|floatformat:3 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>本塁打数上位選手</h3>
<table>
    <thead>
        <tr>
            <th>選手名</th>
            <th>本塁打</th>
        </tr>
    </thead>
    <tbody>
        {% for leader in homerun_leaders %}
        <tr>
            <td>{{ leader.player__username }}</td>
            <td>{{ leader.total_home_runs }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>投手勝利数上位選手</h3>
<table>
    <thead>
        <tr>
            <th>選手名</th>
            <th>勝利数</th>
        </tr>
    </thead>
    <tbody>
        {% for leader in win_leaders %}
        <tr>
            <td>{{ leader.player__username }}</td>
            <td>{{ leader.total_wins }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>奪三振数上位選手</h3>
<table>
    <thead>
        <tr>
            <th>選手名</th>
            <th>奪三振</th>
        </tr>
    </thead>
    <tbody>
        {% for leader in strikeout_leaders %}
        <tr>
            <td>{{ leader.player__username }}</td>
            <td>{{ leader.total_strikeouts }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
