<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FieldMaster{% endblock %}</title>
    <style>
        table {
          width: 100%;
          border-collapse: collapse;
        }
        table, th, td {
          border: 1px solid black;
        }
        th, td {
          padding: 8px;
          text-align: center;
        }
      </style>
      
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'team_dashboard' %}">チームのトップページへ</a></li>
                <li><a href="{% url 'member_list' %}">メンバー一覧</a></li>
                <li><a href="{% url 'create_user' %}">メンバー登録</a></li>
                <li><a href="{% url 'events' %}">イベント一覧</a></li>
                <li><a href="{% url 'create_event' %}">イベント作成</a></li>
                <li><a href="{% url 'match_list' %}">試合一覧</a></li>
                <li><a href="{% url 'title_page' %}">タイトル</a></li>
                <li><a href="{% url 'total_stats' %}">成績</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- ページのメインコンテンツをここに挿入します -->
        {% endblock %}
    </main>

    <footer>
        <p>© FieldMaster</p>
    </footer>
</body>
</html>
